html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #222; /* Se vedi nero, la mappa non è caricata. Se vedi bianco, il div root è 0px. */
}